<!-- MODAL FOR OBSNS ATTACHMENTS -->
<div class="modal fade" id="modal_obsns_attachment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-none radius-0 brc-blue-m2 px-3">
      <div class="modal-header py-2">
        <!-- <i class="fa fa-file mb-n4 mx-auto fa-3x text-blue-m2 pb-5"></i>  -->
      </div>

      <div class="modal-body text-center" id="modal_obsns_attachment_body">
      <!-- add code here -->
      </div>

      <div class="modal-footer flex-nowrap bgc-white justify-content-between px-0 py-3">
        <div>
          <!-- <p class="text-secondary-d3 text-125 mt-2">
            Attached Documents!
          </p> -->
        </div>
        <button type="button" class="btn px-4 px-2 px-md-4 btn-light-secondary btn-h-light-success btn-a-light-success" data-dismiss="modal" id="hide">
          Close
          <i class="fa fa-times ml-1" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- END MODAL FOR OBSNS ATTACHMENTS -->
