{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}
{% load i18n static project_template_tags %}

{% block extrastyle %}
  {{ block.super }}
  <!-- <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" /> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
  {% if cl.formset %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" /> -->
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      /*#changelist table thead th:first-child {width: inherit}*/

    </style>
  {% endif %}

{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}

 

{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}" title="{% trans 'Home' %}">{{ cl.opts.app_config.verbose_name }}</a>
          </li>              
          <li class="active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
        </ul><!-- /.breadcrumb -->

      </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block filters %}
  {% if cl.has_filters %}
    <div id="changelist-filter">
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row mt-0">
  <div class="col-12">

<div class=" mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
  <div class="row">
    <div class="col-4">
      <h1 class="page-title text-primary-d2 text-140">
        {{ cl.opts.verbose_name_plural|capfirst }}
      </h1>
    </div>
    <div class="col-8">
      
      <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
        <!-- dataTables search box will be inserted here dynamically -->
        <div class="row">
          <div class="col-10 ml-auto">
              {% if cl.search_fields %}
                {% block search %}{% search_form cl %}{% endblock %}
              {% endif %}
          </div>
          <div class="col-2">
              {% block object-tools %}
              {% if has_add_permission %}
                
                  {% block object-tools-items %}
                  {% url cl.opts|admin_urlname:'add' as add_url %}
                  <a style="margin-top: 5px;" href="{% add_preserved_filters add_url is_popup to_field %}"  class="btn radius-round btn-outline-primary border-2 btn-sm ml-2" title="{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}" data-placement="left" data-toggle="tooltip" role="button">
                    <i class="fa fa-plus"></i>
                    
                  </a>
                   {% endblock %}

              {% endif %}
            {% endblock %}
          </div>

        </div>

          
      </div>

    </div>
  </div>
  

</div>

  <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
  <div class="card dcard">
     
          {% if action_form and actions_on_top and cl.full_result_count %}
          <div class="card-header text-white border-0">
            {% admin_actions %}
          </div>
          {% endif %}
      
      {% if cl.date_hierarchy %}
     
        {% block date_hierarchy %}
        <div class="card-header text-white border-0">
          {% date_hierarchy cl %}
        {% endblock %}
      </div>
      {% endif %}
  		
      <div class="card-body p-0 border-x-1 border-b-1 brc-default-m4 radius-0 overflow-hidden">


		  <div id="content-main" class="bootstrap-table bootstrap4">
		    {% if cl.formset.errors %}
		      <div role="alert" class="errornote alert alert-warning fade in">
		        <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">{% trans "Close" %}</span></button>
		        {% blocktrans count cl.formset.total_error_count as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
		        {{ cl.formset.non_form_errors }}
		      </div>
		    {% endif %}


        <div class="table-responsive">
		    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
		      <div class="panel panel-default">
		        

		        
		        {% if cl.formset %}
		          <div>{{ cl.formset.management_form }}</div>
		        {% endif %}
		          {% block result_list %}

		            {% result_list cl %}
		            {% if cl.result_count > cl.list_per_page or actions_on_bottom and cl.full_result_count %}
		              <div class="panel-body actions-bottom">
		                <div class="row">
		                  {% if action_form and actions_on_bottom and cl.full_result_count %}
		                    <div class="col-sm-4">
		                        {% admin_actions %}
		                    </div>
		                  {% endif %}
		                  <div class="{% if action_form and actions_on_bottom and cl.full_result_count %}col-sm-8{% else %}col-sm-12{% endif %}">
		                  </div>
		                </div>
		              </div>
		            {% endif %}
		          {% endblock %}
		          <div class="panel-footer" id="panel-footer">
		            <span class="info pull-left">
		            </span>
		            <div class="right-buttons">
		              {% if cl.formset and cl.result_count %}
		              <input type="submit" name="_save" class="save btn btn-primary btn-xs" value="{% trans 'Save' %}"/>
		              {% endif %}
		            </div>
		          </div>
		      </div>
		    </div>
		   
		    <div class="fixed-table-pagination">
  		    	<div class="float-left pagination-detail">
  		    		<span class="pagination-info">
                  {{ cl.result_count }}
                  {% ifequal cl.result_count 1 %}
                    {{ cl.opts.verbose_name }}
                  {% else %}
                    {{ cl.opts.verbose_name_plural }}
                  {% endifequal %}
        			</span>
  				</div>
              <div class="card-body p-0">
                  <div class="p-3">
                
                  <div id="task_response">
                  </div>
                  <!-- END OBSN TABLE -->
        
                  <!-- BELL DATA -->
                  <div class="list-group list-group-flush d-none" id='comment_bell_body'>
                    <a href="#" class="text-center text-primary fw-bold border-bottom border-light py-3">Inbox</a>
                    {% for inbox_comment in request|getInboxComments %}
                    {% inbox_comments inbox_comment.task.id inbox_comment.id %}
                    {% endfor %}
                  </div>
                  <!-- END BELL DATA -->.
                  <!-- Obsns Modal -->
                  {% include "partials/obsns_modal_box.html" %} 
                  <!-- Model box end -->
        
            </div>
          </div><!-- /.card-body -->
  				<div class="float-right pagination">
            {% block pagination %}{% pagination cl %}{% endblock %}
  				</div>
  			</div>
      </div>

		  </div>

      </div>
    </div>
  </div>
</form>
</div>
{% endblock %}


{% block js %}
<script src="{% static 'assets/node_modules/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script src="{% static 'assets/node_modules/bootstrap-table/dist/extensions/mobile/bootstrap-table-mobile.js' %}"></script>
<script src="{% static 'assets/module/DashboardApi.js' %}"></script>
 
<script>
  $(window).on('load', function(){
  var urlParams = new URLSearchParams(window.location.search); //get all parameters
  var drf_gte = urlParams.get('drf__project_taskactions__created_on__gte'); 
  var drf_lte = urlParams.get('drf__project_taskactions__created_on__lte'); 
  if(drf_gte && drf_lte) { 
    $('#id-daterange-from').val(drf_gte)
    $('#id-daterange-to').val(drf_lte)
  }
});
  
  function getModelBox(task_action_comment_id = '', comment = '', remarks_by_tag = '', remark_date = '', flag_color =
    '') {
    if (task_action_comment_id != '') {

      $("#comment_id").val(task_action_comment_id);
      users_list = DashboardApi.getUsers();
      
      var options, index, select, option;
      
      // Get the raw DOM object for the select box
      select = document.getElementById('tag_user_ids');
      // Clear the old options
      select.options.length = 0;
      
      // Load the new options
      options = users_list; // Or whatever source information you're working with
      for (index = 0; index < users_list.length; ++index) {
        option = options[index];
        select.options.add(new Option(option.name, option.value));
      }
      
      $("#remarks_by_tag_id").text(remarks_by_tag);
      $("#remark_date_id").text(remark_date);
      $("#remark_color").css("color", flag_color)
      $("#message_area").text(comment)
      $('#modal_forward_tag').modal('show');
    }
  }

  function registerCommentReply() {
    var comment_id = $('#comment_id').val();
    var user_id = $("#tagged_user").val();
    var comment = $('#modal_comment_textarea_id').val();
    var attachments = $('#modal_comment_attachment_id').prop('files');

    var fd = new FormData();

    if (attachments.length > 0) {
      fd.append('attachments', attachments[0]);
      fd.append('comment_id', comment_id)
      fd.append('user_id', user_id)
      fd.append('comment', comment)
    }

    // $('#comment_bell_body').load();

    if (comment_id != "" && user_id != "" && comment != "" && attachments != "") {
      $.ajax({
        url: '/dashboard/projectdirectorhousing/comment_reply/',
        method: 'POST',
        data: fd,
        contentType: false,
        processData: false, // added data type

        success: function (res) {
          location.reload(true);
        }
      }); // new script code

    } else {
      alert("Please Provide All Required Data")
    }

  }
</script>
<script>
  $('.ins_flag').click(function () {
    //selector where from images detect for light box
    $(".intro").AutoLightbox(); //auto lightbox with default settings
    $("article").AutoLightbox({
      dimBackground: false
    }); //lightbox with custom setting, dim background off
  });

  $('#modal_attachment_close').click(function(){
    $("#modal_obsns_attachment_body").empty();
  })
  
  $('#bell_notifications').click(function(){
    $('#navbar-notif-tab-2').empty();
    DashboardApi.getBellNotifications();
  })

  function getTaskActions(ca_id = "", flag_id = "") {
    event.preventDefault();
    if ($("#task_response:not(:empty)").length) {
      $("#task_response").empty();
    }

    DashboardApi.getTaskActions(ca_id, flag_id)
    $("#top_cards").hide();
  }
 
  function getNotificationTaskAction(comment_id = "") {
    event.preventDefault();
    if ($("#task_response:not(:empty)").length) {
      $("#task_response").empty();
    }
    DashboardApi.getNotificationTaskAction(comment_id)
    $("#top_cards").hide();
  }

  function getTaskActionAttachments(task_action_id = "") {
    event.preventDefault();
    if ($("#modal_obsns_attachment_body:not(:empty)").length) {
      $("#modal_obsns_attachment_body").empty();
    }

    DashboardApi.getTaskActionAttachmentsJs(task_action_id)
    $('#lightbox_modal_task_action_attachment').modal('show');
  }
 
  function allow_click(item){
    if (item.innerText == 0){
      item.setAttribute("href", "javascript:void(0);")
    }
  }

  // modal closing code
  $("#hide").click(function(){
    $('#modal_obsns_attachment').modal('hide');
    $( ".lightbox" ).each(function() {
      $( this ).addClass( "d-none" );
    });
  });

// Tag User Comment Reply
  $('#modal_organization_chart_body').on('change','#tag_user1',function(){
    var $option = $(this).find('option:selected');
    $('#tagged_user').val($option.val());
    $("#tag_to_badge").text("@"+String($option.text()));
    $("#tag_to_badge").removeClass('d-none');
    $("#remove_tag_to_badge").removeClass('d-none');
    $("#modal_organization_chart").modal('hide');
  });
 
  $('#remove_tag_to_badge').on('click', function() {
    $('#tagged_user').val('');
    $("#tag_to_badge").addClass('d-none');
    $("#remove_tag_to_badge").addClass('d-none');
  });

  
</script>
{% endblock js %}