<style>
  .sw-theme-circles > ul.step-anchor > li .step-description {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 14px;
}
</style>


<div class="" style="border: none;" >
    <div style="margin-bottom: 5.5rem !important">
      <div  class="mx-n3 mx-sm-auto sw-main sw-theme-circles">
        <ul class="bg-transparent mx-auto nav nav-tabs step-anchor">
          <li id="connecting_steps" class="wizard-progressbar nav-item" style="left: 21.5%; right: 12.5%; max-width: 12.5%;"></li><!-- the progress line connecting wizard steps -->

          <li id="step_1" class="nav-item active">
            <a href="#step-1">
              <span id="step1-title" class="step-title">
                1
              </span>

              <span id="step1_complete" class="step-title-done">
                <i class="fa fa-check text-success"></i>
              </span>
            </a>

            <span class="step-description text-grey">
              Verify Membership
            </span>
          </li>
          <li id="step_2" class="nav-item ">
            <a href="#step-2">
              <span id="step2-title" class="step-title">
                2
              </span>

              <span id="step2_complete" class="step-title-done">
                <i class="fa fa-check text-success"></i>
              </span>
            </a>

            <span class="step-description text-grey">
              Verify OTP
            </span>
          </li>
          <li class="nav-item" id="step_3">
            <a href="#step-3">
              <span id="step3-title" class="step-title">
                3
              </span>

              <span id="step3_complete" class="step-title-done">
                <i class="fa fa-check text-success"></i>
              </span>
            </a>

            <span class="step-description text-grey">
              Sign Up
            </span>
          </li>
         
        </ul>
        </div>

    </div> 
  </div>