{% load i18n static housing_society_template_tags  %}


<div class="d-lg-none my-3 text-white-tp1 text-center">
    <img src="{% display_favicon %}" alt="" style="width: 30px;"> DHAI-R &copy; 2022
  </div>

<div class="d-lg-none my-3 text-white-tp1 text-center">
          
<!--             
    
    <br>
    <br>
    <br>
    <br> -->

   
    <div class="col-12 col-xl-10 offset-xl-1 radius-1 overflow-hidden" style="background-color: #13131395 !important;" >
        
        <div>
            <i class="fas fa-mobile"></i>&nbsp; &nbsp;+92-51-111-555-400 
        </div>
        <div>
            <i class="fas fa-envelope"></i><a href="mailto:{{society.email}}">&nbsp; &nbsp;{{society.email}}</a>
        </div>
        <div>
            <i class="fas fa-home"></i>  &nbsp; Defence Housing Authority<br> Islamabad-Rawalpindi 
            Phase-I, Defence Mall, Defence Avenue 
            Islamabad-Rawalpindi-44000 
            Pakistan 
        </div>

    </div>

    
               
</div>