{% load i18n admin_urls static admin_list %}
{% load i18n static bootstrap_admin_template_tags %}
{% load i18n static project_template_tags %}

<style>
  .reply_bcg{
   background-color: rgb(201, 201, 201) !important;
   }


  
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 150px) and (max-device-width : 480px) {
  .card_heading_text{
        font-size: 5vmin;
        font-weight: 600;
        font-weight: 600;
       }

  .heading_info_text{
      font-size: 3vmin;
      }

  .thead_text{
        font-size: 3vmin;
        font-weight: 600 !important;
       }


  .rounded_box_text{
 
  width: 37px;
  height: 37px;
  }


  .tbody_text{
      font-size: 3vmin;
      }
}

 
 </style>

<!-- task_action_aside_support -->
{% for task_action_comment in task_action_comments %}
    <div class="media mt-1 mb-2 mx-3" id="chat_body_{{task_action_comment.serial_number}}">
      <div class="d-flex flex-grow-1 parent-chat-div" id = 'parent_div_{{task_action_comment.serial_number}}'>
        <div class="mr-0 mt-25">
          <span class="d-inline-flex align-items-center justify-content-center radius-round bgc-purple text-white font-bolder w-6 h-6 text-80 rounded_box_text">
                <span>{{task_action_comment.created_by|getNameAvatar}}</span>
          </span>
        </div>

        <div class="media-body py-2 px-3 radius-1 flex-grow-1">
          <div class="d-flex justify-content-between">
            <!-- <a href="#" class="btn-text-primary btn-h-text-red no-underline font-weight-bold text-95 thead_text">{{task_action_comment.created_by.full_name}} {%if task_action_comment.tag_to %} Tag To: {{task_action_comment.tag_to.full_name}} {% endif %}</a> -->
            <a href="#" class="btn-text-primary btn-h-text-red no-underline font-weight-bold text-95 thead_text">{{task_action_comment.created_by.full_name}} {%if task_action_comment.tag_to %} {% endif %}</a>

            <span class="text-90">
              <!-- date start -->
              <small class="text-dark-m2 text-75 pl-1 font-weight-bold thead_text">{{task_action_comment.created_on}}</a></small>
              <!-- date end -->
            </span>
          </div>

          <div class="text-dark-m2 text-90 thead_text">
            {{task_action_comment.description}}
          </div>
          <!-- extra code added by Alex -->
            <icon class="fa fa-flag text-90 " style="color:{{task_action_comment.status.color}};"></icon>        

            {% if task_action_comment.id|check_if_attachment_exists %}
            <a type="button" onclick="ChatBoxApi.task_action_flag_detail('{{task_action_comment.id}}')" >
              <span class="radius-round w-5 text-center py-15 border-2 ">
                <i class="fas fa-paperclip text-90"></i>
              </span>
            </a>
            {% endif %}

            <a type="button" onclick="ChatBoxApi.getTaskActionCommentId('{{task_action_comment.id}}','{{task_action_comment.serial_number}}')" class="radius-round w-5 text-center py-15 border-2 thead_text">
            <i class="fas fa-reply text-90"></i>
            </a>

            <span style="float: right;display: none;" class="badgep-2px mt-3 radius-round overflow-hidden text-35 thead_text" title="{{task_action_comment.serial_number}}">
              <span class="m-1 badge bgc-white border-1 border-l-4 radius-0 brc-success-m2 btn-text-success px-25 text-35">
              # {{task_action_comment.serial_number}}
              </span>
            </span>


            {% if task_action_comment.parent %}
            <span style="float: right;" class="badgep-2px mt-3 radius-round overflow-hidden text-35 thead_text" title="{{task_action_comment.parent.serial_number}}">
              <span class="m-1 badge bgc-white border-1 border-l-4 radius-0 brc-danger-m2 btn-text-danger px-25 text-35">
              Reply To : {{task_action_comment.parent.serial_number}}
              </span>
            </span>
            {% endif %}

          <!-- extra code added by Alex -->
        </div>
      </div>
    </div>
{% endfor %}
 