{% load i18n admin_urls static admin_list %}
{% load i18n static project_template_tags %}
 
<!-- Fullscreen modal -->
<div class="modal fade modal-fs" id="modal_observation_detail" tabindex="-1" role="dialog" aria-labelledby="modal_observation_detail_Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content" style="border: none !important;">
      
      <div class="modal-body" id="modal_observation_detail_body" style="padding:0 !important;overflow-x: clip;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>