{% extends "client/base.html" %}
{% load i18n static bootstrap_admin_template_tags  %}
{% load i18n static housing_society_template_tags  %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class=" minh-100 justify-content-center">
            {% if form.errors or form.non_field_errors %}
            <div class="alert d-flex bgc-red-l3 brc-success-m4 border-0 p-0" role="alert" style="width: 100%">
              <div class="bgc-red px-3 py-1 text-center radius-l-1">
                <span class="fa-2x text-white">
                ⚠ <!-- &#9888; -->
                </span>
              </div>

              <span class="ml-3 align-self-center text-dark-tp3 text-110">
                  {% if form.errors and not form.non_field_errors %}
                    <p>
                      <strong>
                        {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                      </strong>
                    </p>
                  {% endif %}

                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <p>
                        {{ error }}
                      </p>
                    {% endfor %}
                  {% endif %}

                  {% if form.errors %}
                    {% for field in form %}
                      {% for error in field.errors %}
                        <p class="border-decoration">
                          <strong><span class="glyphicon glyphicon-asterisk"></span> {{ field.label }}: </strong>{{ error|escape }}
                        </p>
                      {% endfor %}
                    {% endfor %}
                  {% endif %}
              </span>
            </div>
            {% endif %}
            <div class="p-2 p-md-4">
              <div class="row" id="row-1">
                  <div class="col-12 col-xl-10 offset-xl-1  shadow radius-1 overflow-hidden">

                      <div class="row" id="row-2" style="background-color: #131313b3 !important;">

                          <div id="id-col-intro" class="col-lg-5 d-none d-lg-flex border-r-1 brc-gold-l2 px-0">
                              <!-- the left side section is carousel in this demo, to show some example variations -->

                              <div id="loginBgCarousel" class="carousel slide minw-100 h-100">

                                  <div class="carousel-inner minw-100 ">
                                      <div class="carousel-item active minw-100 h-100">
                                          <!-- default carousel section that you see when you open login page -->
                                          <div
                                              class="h-100 px-3 bg-transparent-black d-flex flex-column align-items-center justify-content-center">
                                              <a class="mt-5 mb-2" href="{{ auth_login}}">
                                                  <img src="{% display_logo %}" style="width: 400px;">
                                              </a>
                                              <div class="mt-3 mx-4 text-dark-tp3">
                                                  <span class="text-90 text-white">Where you live your dream</span>
                                                  <hr class="mb-2 brc-gold-l2" />
                                                  <div>
                                                      <a id="id-start-carousel"
                                                          href="{{ login_url }}"
                                                          class="text-95 text-white d-inline-block mt-3">
                                                          <i
                                                              class="fa fa-angle-double-right  text-110 text-gold mr-1 w-2"></i>
                                                          Home
                                                      </a>
                                                      <br />
                                                      <a id="id-start-carousel"
                                                          href="{% url 'registration_register' %}"
                                                          class="text-95 text-white d-inline-block mt-3">
                                                          <i
                                                              class="fa fa-angle-double-right  text-110 text-gold mr-1 w-2"></i>
                                                          Registration
                                                      </a>
                                                      <br />
                                                  </div>
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          <div id="id-col-main" class="col-12 col-lg-7 py-lg-5 bg-transparent-black px-0">
                              <!-- you can also use these tab links -->
                              <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

                                  <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
                                      <!-- show this in desktop -->
                                      <div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0">
                                          <h4 class="text-white border-b-1 brc-gold-l2 pb-2 text-130">
                                              <i class="fa fa-lock  text-gold mr-1"></i>
                                              Registration
                                          </h4>
                                      </div>

                                      <!-- show this in mobile device -->
                                      <div class="d-lg-none text-secondary-m1 my-4 text-center">

                                          <p class="text-white mt-3">Registration </p>
                                      </div>

                                      <!-- Login in User Fields  -->

                                      <form id="register_form"  method="post" action="" class="mt-4">
                                                  <div id="sms_otp_msg_box" class="form-group col-sm-12 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3" style="display:none">
                                                      <div class="alert alert-collapse alert-success bg-white brc-success-m3 rounded border-2 d-inline-flex" role="alert">
                                                          <span class="mr-4 d-inline-block" id="sms_otp_msg">

                                                          </span>

                                                        <button type="button" class="close align-self-center ml-auto text-danger text-150" data-dismiss="alert" aria-label="Close">
                                                          <span aria-hidden="true">×</span>
                                                        </button>
                                                      </div>
                                                  </div>
                                              {% csrf_token %}
                                              
                                              

                                          <div class="form-group col-sm-12 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                              <div class="d-flex align-items-center input-floating-label text-gold ">
                                                {{form.first_name|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                                  <i class="fa fa-user text-gold ml-n4"></i>
                                                  {{ form.first_name|get_label:'floating-label text-white ml-n3'}}
                                              </div>
                                              <span class="alert-danger" data-validate-for="first_name"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.middle_name|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                                  <i class="fa fa-user text-gold ml-n4"></i>
                                                  {{ form.middle_name|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="middle_name"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.last_name|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                                  <i class="fa fa-user text-gold ml-n4"></i>
                                                  {{ form.last_name|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="last_name"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.membership_no|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.membership_no|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="membership_no"></span>
                                          </div>


                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                               <!-- <select name="national_identity_type" id="national_identity_type" class="ace-select text-white bg-transparent-black brc-dark-m5 brc-h-dark-m1"> -->
                                                {{form.national_identity_type|add_class:'ace-select text-white bg-transparent-black brc-dark-m5 brc-h-dark-m1'}}
                                                </select>
                                            </div>
                                          </div>

                                         

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.national_identity_number|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.national_identity_number|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="national_identity_number"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.phone|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.phone|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="phone"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.sms_otp|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.sms_otp|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="sms_otp"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.email|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.email|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="email"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.email_otp|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.email_otp|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="email_otp"></span>
                                          </div>

                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.password|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.password|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="password"></span>
                                          </div>
                                          
                                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                                            <div class="d-flex align-items-center input-floating-label text-gold brc-success-m2">
                                              {{form.confirm_password|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                              <i class="fa fa-user text-gold ml-n4"></i>
                                              {{ form.confirm_password|get_label:'floating-label text-white ml-n3'}}
                                            </div>
                                            <span class="alert-danger" data-validate-for="confirm_password"></span>
                                          </div>
                                          
                                          <div
                                              class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

                                              <button type="submit"  class="btn bgc-gold text-white btn-block px-4 btn-bold mt-2 mb-4" value="{% trans 'Log in' %}" />{% trans 'Sign Up' %} </button>
                                          </div>

                                      </form>
                                  </div>

                              </div><!-- .tab-content -->
                          </div>

                      </div><!-- /.row -->

                  </div><!-- /.col -->
              </div><!-- /.row -->

          </div>
</div>



            
        

{% endblock %}

