{% extends "registration/registration_base.html" %}
{% load i18n static bootstrap_admin_template_tags  %}
{% load i18n static housing_society_template_tags  %}
{% load i18n %}
{% block title %}{% trans "Log in" %}{% endblock %}
{% block content %}

            
            

            <div class="row flex-grow-1" id="row-1">
                <!-- {% if form.errors%}
                {% if form.errors or form.non_field_errors %}
                <div class="alert d-flex bgc-red-l3 brc-success-m4 border-0 p-0" role="alert" style="width: 100%">
                    <div class="bgc-red px-3 py-1 text-center radius-l-1">
                        <span class="fa-2x text-black">
                            ⚠ 
                        </span>
                    </div>

                    <span class="ml-3 align-self-center text-dark-tp3 text-110">
                        {% if form.errors and not form.non_field_errors %}
                        <p>
                            <strong>
                                {% blocktrans count form.errors.items|length as counter %}Please correct the error
                                below.{% plural %}Please correct the errors below.{% endblocktrans %}
                            </strong>
                        </p>
                        {% endif %}

                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p>
                            <button id="id-toast-success2" type="button" class="btn px-4 btn-light-success btn-h-success btn-a-success mb-1">
                                Reverse Progress
                              </button> {{ error }}
                        </p>
                        {% endfor %}
                        {% endif %}

                        {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <p class="border-decoration">
                            <strong><span class="glyphicon glyphicon-asterisk"></span> {{ field.label }}:
                            </strong>{{ error|escape }}
                        </p>
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </span>
                </div>
                {% endif %}
                {% endif %} -->


                <div class="col-12  d-lg-flex bgc-white shadow radius-1 overflow-hidden">
                    <!-- style="height: 650px;" -->
                    <div class="row flex-grow-1" id="row-2" >
                        <!-- Including Into Page from admin/includes/intro.html -->
                        <div id="id-col-intro" class="col-lg-6 d-none d-lg-flex border-r-1 border-r-1 brc-default-l3 px-0" >
                            {% include 'client/includes/__intro.html' %}
                        </div>

                        <div id="id-col-main" class="col-12 py-lg-5 bgc-white px-0 col-lg-6 mx-auto d-flex align-items-center justify-content-center">
                          <!-- you can also use these tab links -->
                          <ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end bgc-black-tp11" role="tablist">
                            <li class="nav-item mx-2">
                              <a class="nav-link active px-2" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="id-tab-login" aria-selected="true">
                                Login
                              </a>
                            </li>
                            <li class="nav-item mx-2">
                              <a class="nav-link px-2" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="id-tab-signup" aria-selected="false">
                                Signup
                              </a>
                            </li>
                          </ul>
      
                             <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">
                                <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-forgot">
                                    <!-- Include Login Page Here  -->
                                    <!-- show this in desktop -->
                                    <div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0">
                                        <h4 class="text-dark-tp4 border-b-1 brc-secondary-l2 pb-1 text-130">
                                            <i class="fa fa-key text-orange-m1 mr-1"></i>
                                            Password Reset Done
                                        </h4>
                                    </div>

                                              <!-- show this in mobile device -->
                                          <div class="d-lg-none text-secondary-m1 my-4 text-center">
                                            <a href="{% url 'auth_login' %}">
                                            <!-- <i class="fa fa-leaf text-success-m2 text-200 mb-4"></i> -->
                                            <img class="text-200 mb-4" src="{% display_favicon %}" width="100">
                                          </a>
                                          <h1 class="text-170">
                                            <span class="text-blue-d1">
                                                <span class="text-80 text-dark-tp3">{{ society }}</span>
                                            </span>
                                          </h1>
                
                                          Password Reset Done
                                        </div>                       
                                        <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                          <label class="text-secondary-d3 mb-3">
                                            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

                                            If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                                          </label>
                                        </div>
                                      <div class="form-row w-100">
                                        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex flex-column align-items-center justify-content-center">
                                          <hr class="brc-default-l2 mt-0 mb-2 w-100">
                                          <div class="p-0 px-md-2 text-dark-tp4 my-3">
                                            <a class="text-blue-d1 text-600 btn-text-slide-x" href="{% url 'auth_login' %}">
                                              <i class="btn-text-2 fa fa-arrow-left text-110 align-text-bottom mr-2"></i>Back to Login
                                            </a>
                                          </div>
                                        </div>
                                      </div>
                                {% include 'client/includes/footer_for_auth_screens.html' %}
                            </div>  
                        </div><!-- .tab-content -->
                    </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.col -->
        </div><!-- /.row -->



        {% include 'client/includes/responsive_footer_of_auth_pages.html' %}
        {% endblock %}
        {% block js %}
        <script>
       $(document).ready(function () {
        // Email
         $('#id_username').attr("data-parsley-type","email");
         $('#id_username').attr("data-parsley-trigger","focusout");
         $('#id_username').attr("data-parsley-errors-container","#email-validator");
         $('#id_username').parsley();

        //  Password
         $('#id_password').attr("data-parsley-minlength",8)
         $('#id_password').attr("data-parsley-required")
         $('#id_password').attr("data-parsley-trigger","focusout")
         $('#id_password').attr("data-parsley-errors-container","#password-validator")
         $('#id_password').attr("data-parsley-uppercase","1")
         $('#id_password').parsley()

    });

       function enabledisable(uppercase_len){
            var button  = document.getElementById('login')
            if (uppercase_len == true){
                button.disabled = false
            }
            else{
                button.disabled = true
            }
       }

        //    Password Upper Case Validator 
        a = window.Parsley.addValidator('uppercase', {
            requirementType: 'number',
            validateString: function(value, requirement) {
            var uppercases = value.match(/[A-Z]/g) || [];
            enabledisable(uppercases.length >= requirement) // function for enabling and disabling Login Button 
            return uppercases.length >= requirement;
            },
            messages: {
            en: 'Your password must contain at least %s uppercase letter.'
        },  
    });

         $('#id_password').attr("data-bs-toggle","tooltip")
         $('#id_password').attr("data-placement","right")
         $('#id_password').attr("title","Yourpassword123")
         var pas = $('#password-validator');
</script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
            <script>
            $(document).ready(function(){
                $('[data-bs-toggle="tooltip"]').tooltip();   
            });
            </script>

            {% endblock js %}