{% extends "registration/registration_base.html" %}
{% load i18n static bootstrap_admin_template_tags %}
{% load i18n static housing_society_template_tags  %}
{% load i18n %}

{% block content %}




  <div class="row flex-grow-1" id="row-1 ">



    <div class="col-12  d-lg-flex bgc-white shadow radius-1 overflow-hidden" >
        <!-- style="height: 650px;" -->
        <div class="row flex-grow-1" id="row-2" >
            <!-- Including Into Page from admin/includes/intro.html -->
            <div id="id-col-intro" class="col-lg-6 d-none d-lg-flex border-r-1 brc-default-l3 px-0 "  >
                {% include 'client/includes/__intro.html' %}
            </div>

            <div id="id-col-main" class="col-12 py-lg-5 bgc-white px-0 col-lg-6 mx-auto d-flex align-items-center justify-content-center">

              
                <!-- you can also use these tab links -->
                <ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end bgc-black-tp11" role="tablist">
                  <li class="nav-item mx-2">
                    <a class="nav-link active px-2" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="id-tab-login" aria-selected="true">
                      Login
                    </a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link px-2" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="id-tab-signup" aria-selected="false">
                      Signup
                    </a>
                  </li>
                </ul>


                <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

                  <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
                    <!-- show this in desktop -->
                    <div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0">
                      <h4 class="text-dark-tp4 border-b-1 brc-secondary-l2 pb-1 text-130">
                        <i class="fa fa-key text-orange-m1 mr-1"></i>
                        Reset your Password
                      </h4>
                    </div>

                    <!-- show this in mobile device -->
                    <div class="d-lg-none text-secondary-m1 my-4 text-center">
                        <a href="{% url 'auth_login' %}">
                        <!-- <i class="fa fa-leaf text-success-m2 text-200 mb-4"></i> -->
                        <img class="text-200 mb-4" src="{% display_favicon %}" width="100px">
                      </a>
                      <h1 class="text-170">
                        <span class="text-blue-d1">
                             <span class="text-80 text-dark-tp3">{{ society }}</span>
                        </span>
                      </h1>
                      Reset your Password
                    </div>
                      <form action="" class="form-row mt-4" method="post">
                        {% csrf_token %}
                        <div>
                          {% if form.errors %}
                              <p class="errornote alert alert-danger">
                              {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                              </p>
                          {% endif %}
                  
                          <div class="panel panel-default">
                            <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                              {% trans "" %}
                            </div>
                            <div class="panel-body">
                              <fieldset class="module aligned wide">
                                <div class="row">
                                  <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                    <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
                                        {{ form.new_password1|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                        <i class="fa fa-user text-grey-m2 ml-n4"></i>
                                        {{ form.new_password1|get_label:'floating-label text-grey ml-n3'}}
                                    </div>  
                                    {% for error in form.new_password1.errors %}
                                    <span class="alert-danger" data-validate-for="new_password1" id="new_password1">{{error}}</span>
                                    {% endfor %}
                                  </div> 
                  
                                  <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                    <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
                                        {{ form.new_password2|add_class:'form-control form-control-lg pr-4 shadow-none'}}
                                        <i class="fa fa-user text-grey-m2 ml-n4"></i>
                                        {{ form.new_password2|get_label:'floating-label text-grey ml-n3'}}
                                    </div> 
                                    {% for error in form.new_password2.errors %}
                                    <span class="alert-danger" data-validate-for="new_password2" id="new_password2">{{error}}</span>
                                    {% endfor %}
                                  </div>    
                                </div>
                              </fieldset>
                              <hr>
                              <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                <input type="submit" value="{% trans 'Change my password' %}" class="btn bgc-blue text-white btn-block px-4 btn-bold mt-2 mb-4" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                  </div>
                </div><!-- .tab-content -->
              </div>
    </div><!-- /.row -->
</div><!-- /.col -->
</div><!-- /.row -->
{% include 'client/includes/responsive_footer_of_auth_pages.html' %}
{% include 'client/includes/footer_for_auth_screens.html' %}

{% endblock %}

