{% load i18n static bootstrap_admin_template_tags %}
  <!-- Forward Complaint Changeform modal -->
  <div class="modal fade" id="modalObsn" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 430px; height: auto;">
      <div class="modal-content shadow border-none radius-2 px-3">

        <div class="modal-header mt-n1 border-0 justify-content-center pos-rel">
          <h3 class="modal-title text-white mt-n5 text-115" id="loginModalLabel">
            Observation
          </h3>

          <button type="button" class="close position-br mb-n4" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body text-center py-1" style="margin-bottom:25px;">
            <div id="task_action_obsn" s></div>
        </div>
      </div>
    </div>
</div>