{% load i18n admin_urls static admin_list %}
{% load i18n static project_template_tags %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/node_modules/tiny-date-picker/tiny-date-picker.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/node_modules/tiny-date-picker/date-range-picker.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'assets/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css' %}" />
{% endblock %}

{% block content %}
 
<style type="text/css">
  .elem,
  .elem * {
    box-sizing: border-box;
    margin: 0 !important;
  }

  .elem {
    display: inline-block;
    font-size: 0;
    width: 33%;
    border: 20px solid transparent;
    border-bottom: none;
    background: #fff;
    padding: 10px;
    height: auto;
    background-clip: padding-box;
  }

  .elem>span {
    display: block;
    cursor: pointer;
    height: 0;
    padding-bottom: 70%;
    background-size: cover;
    background-position: center center;
  }
</style>

<!-- LIGHTBOX FADING SHOW/HIDE EFFECT (as explained in documentation) -->
<style type="text/css">
  .lcl_fade_oc.lcl_pre_show #lcl_overlay,
  .lcl_fade_oc.lcl_pre_show #lcl_window,
  .lcl_fade_oc.lcl_is_closing #lcl_overlay,
  .lcl_fade_oc.lcl_is_closing #lcl_window {
    opacity: 0 !important;
  }

  .lcl_fade_oc.lcl_is_closing #lcl_overlay {
    -webkit-transition-delay: .15s !important;
    transition-delay: .15s !important;
  }

 
    /* .img1{
        text-align: end;
    }
    .img2{
        text-align: start;
    } */
    @media screen and (min-width: 280px) and (max-width: 510px){
      .main{
        width:  400px;
      }
    }
   
</style>

<div class="row mb-5">
  <div class="col-6 col-lg-4 mt-3 pt-3">
    <div class="bcard card h-100 shadow-lg">
      <div class="card-header border-b-1 brc-grey-l3 pb-2">
        <h5 class="card-title text-center font-weight-bold text-100 text-dark-m1 pl-1">
          Inspection Flags
        </h5>
        <!-- the dropdowns -->
        <div class="card-toolbar no-border">
        </div><!-- /.card-toolbar -->
      </div>
      <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>
    </div><!-- /.card -->
  </div>

  <div class="col-6 col-lg-4 mt-3 pt-3">
    <div class="bcard card h-100 shadow-lg">
      <div class="card-header border-b-1 brc-grey-l3 pb-2">
        <h5 class="card-title text-center font-weight-bold text-100 text-dark-m1 pl-1">
          Material Flags
        </h5>
      <!-- the dropdowns -->
        <div class="card-toolbar no-border">
        </div><!-- /.card-toolbar -->
      </div>
      <figure class="highcharts-figure">
        <div id="container1"></div>
    </figure>
    </div><!-- /.card -->
  </div>

  <div class="col-6 col-lg-4 mt-3 pt-3">
    <div class="bcard card h-100 shadow-lg">
      <div class="card-header border-b-1 brc-grey-l3 pb-2">
        <h5 class="card-title text-center font-weight-bold text-100 text-dark-m1 pl-1">
          RegionWise Project Distribution
        </h5>
      <!-- the dropdowns -->
        <div class="card-toolbar no-border">
        </div><!-- /.card-toolbar -->
      </div>
      <figure class="highcharts-figure">
        <div id="container2"></div>
    </figure>
    </div><!-- /.card -->
  </div>
</div>
 
<!-- Graphs -->
<!-- Pie Chart -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script>

// data.forEach((d) => { d.x = new Date(d.x); });

  Highcharts.setOptions({
    colors: Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    })
});

// Build the chart
Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
      },
    title: {
        text: ''
    },
    credits: {
    enabled: false
    },
    exporting: {
         enabled: false
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    accessibility: {
        point: {
            valueSuffix: ''
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.y}',
                connectorColor: 'silver'
            },
            colors: {{dataset_inspection_flag_pie_color|safe}},
        }
    },
    series: [{
        name: 'Flags',
        data: {{dataset_inspection_flag_pie|safe}}
    }]
});

// Build the chart
Highcharts.chart('container1', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
      },
    title: {
        text: ''
    },
    credits: {
    enabled: false
    },
    exporting: {
         enabled: false
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    accessibility: {
        point: {
            valueSuffix: ''
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.y}',
                connectorColor: 'silver'
            },
            colors: {{dataset_material_flag_pie_color|safe}},
        }
    },
    series: [{
        name: 'Flags',
        data: {{dataset_material_flag_pie|safe}}
    }]
});

Highcharts.chart('container2', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: ''
    },
    credits: {
    enabled: false
    },
    exporting: {
         enabled: false
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y}</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.y}',
                connectorColor: 'silver'
            },
            colors: [
            '#22db9b',
            '#642d42',
            '#f44336',
            ],
          
        }
    },
    series: [{
        name: 'Projects',
        data: {{dataset_region|safe}}
    }]
});





</script>

{% endblock %}